@model IEnumerable<CorpusSearchModule.Models.SavedQuery>

@{
    ViewBag.Title = "SavedQueries";
}

<h2>Сохраненные запросы</h2>

<table class="table">
    <tr>
        <th>
            Дата сохранения
        </th>
        <th>
            Текст запроса
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Query)
        </td>
        <td>
            @Html.ActionLink("Сделать запрос", "FillQuery", new { query = item.Query })
            @Html.ActionLink("Удалить", "Index", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
